@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
  --primary-color: #f3f3f3;

  
}




body {
  background-color: var(--primary-color);

  font-family: 'Roboto', sans-serif;
	text-align: center;
  color:red;
}

label {
	display: block;
  color: blue;
	padding-bottom: 1rem;
}

