@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
  --primary-color: white;

  
}
h1{
  color: blue;
}



body {
  background-color: var(--primary-color);

  font-family: 'Roboto', sans-serif;
	text-align: center;
  color:red;
}

label {
	display: block;
  color: purple;
	padding-bottom: 3rem;
}

button {
	border: none;
	background-color: blue;
	color: white;
	font-weight: 700;
	padding: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	width: 25rem;
	margin-top: 1rem;
}

