
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --primary-color: white;

  
}
.heading {

    height: 2rem;
    width:auto;
    background-color: rgb(52, 52, 177);
    text-align: center;
    padding: 1.5rem;
    margin:inherit;
}
h1{
  color: white;
  
}



body {
	background-color: var(--primary-color);
	font-family: 'Roboto', sans-serif;
	margin: auto;
	text-align: center;
	/*text-align: center*/
	color:black;
	background-size: auto;
}

label {
	display: block;
    color: black;
	padding: 2rem;
}

button {
	border: none;
	background-color: rgb(52, 52, 177);
	color: white;
	font-weight: 700;
	padding: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	width: 15rem;
	margin-top: 1rem;
}





footer{
    position:fixed;
    bottom: 3px;
    width: 100%;
    display: block;
    height: 1rem;
    background-color:rgb(52, 52, 177);
    text-align: center;
	color: white;
    padding: 2rem;
    margin:inherit;
}
